<div class="row ">
    <div class="Logo ">
        <a href="Home" class="brand-logo col l2 push-l5 m4 push-m3 s8 push-s7 ">
            <img src="../../../assets/Resources/logo.png" id="logo">
        </a>
    </div>
    <div class="Body col l4 push-l4 ">
        <div class="correo-usuario col l9 push-l2 ">
            <p>Correo Eléctronico o Usuario</p>
        <form class="col l12 " id="searchbox">
            <div class="row">
              <div class="input-field ">
                <div class="col l12 ">
                  <input id="search" type="search">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="contraseña col l9 push-l2 ">
            <p>Contraseña</p>
        <form class="col l12 " id="searchbox">
            <div class="row">
              <div class="input-field ">
                <div class="col l12 ">
                  <input id="search" type="password">
                </div>
              </div>
            </div>
          </form>
        </div>

        <div>
            <a href="Home" class="btn col l6 push-l2  " id="botones">
                Ingresar</a>
        </div>

        <div class="privacidad col l9 push-l2  ">
            <p class="privacidadp">
                Al iniciar sesión, acepta los Términos de servicio y la Política de privacidad de Leggiamo
            </p>
        </div>

    </div>

    
</div>
