.page-footer{
    background-color:#eaeaea;
    margin: -20px;

    font-family: 'Bellota';
    font-style: normal;
    font-weight: bolder;


}

.iconf {
    position:relative;
    height: 25px;
    width: 25px;
    margin: 10px;
    top: 0px;
    left: -10px;
}

.test{
    border-width: 1px;
    border-style: solid;
    border-color:blue;
}
