<link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet" />

<footer class="page-footer ">
  <div class="row">
    <div class="col l1 push-l4 m2  push-m2 s3 push-s2 pull-s1 ">
      <h5 class="black-text">Compañia</h5>
      <ul>
        <li><a class="black-text" href="About">Sobre Nosotros</a></li>
        <li><a class="black-text" href="L">Carreras</a></li>
        <li><a class="black-text" href="L">Terminos</a></li>
        <li><a class="black-text" href="L">Privacidad</a></li>
      </ul>
    </div>
    <div class="col l2  push-l4 m3   push-m2 s6 push-s2 ">
      <h5 class="black-text">Trabaja con Nosotros</h5>
      <ul>
        <li><a class="black-text" href="L">Autores</a></li>
        <li><a class="black-text" href="L">Publicidad</a></li>
        <li><a class="black-text" href="L">API</a></li>
      </ul>
    </div>
      <div class="col l1 push-l4 m2  push-m2 s4 push-s2 ">
        <h5 class="black-text">Contáctanos</h5>
        <ul>
          <img src="../../../assets/Icons/facebus.png" class="iconf">
          <img src="../../../assets/Icons/insta.png" class="iconf">
          <img src="../../../assets/Icons/twit.png" class="iconf">
        </ul>
    </div>
  </div>
  <div class="footer-copyright black-text">
    <div class="container ">© 2023 Leggiamo, CETYS Universidad</div>
  </div>
</footer>
      