
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
  <nav class="head">
    <div class="nav-wrapper row">
      <a href="#" class="brand-logo col l2 push-l1 m4 push-m3 s8 push-s7 ">
        <img src="../../../assets/Resources/logo.png" id="logo">
      </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down col l6  ">
        <li><a href="#">Home</a></li>
        <li><a href="#">Iniciar Sesión</a></li>
        <li><a href="#">Crear Cuenta</a></li>
        <li><a href="Libros">Libros</a></li>
        <li><a href="#">Mi Lista</a></li>
        <li><a href="#">Social</a></li>
        <li><a href="#"><i class="material-icons">notifications</i></a></li>
        <li><a href="#"><i class="material-icons">message</i></a></li>
        <form class="col l3" id="searchbox">
          <div class="row">
            <div class="input-field">
              <div class="col l11 ">
                <input id="search" type="search">
              </div>
              <div class="col l1 push-l1 ">
                <i class="material-icons">search</i>
              </div>
            </div>
          </div>
        </form>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Home</a></li>
      <li><a href="#">Iniciar Sesión</a></li>
      <li><a href="#">Crear Cuenta</a></li>
      <li><a href="#">Libros</a></li>
      <li><a href="#">Mi Lista</a></li>
      <li><a href="#">Social</a></li>
      <li><a href="#">Notifications</a></li>
      <li><a href="#">Messages</a></li>
      <li><a href="#">Search</a></li>
    </ul> 
  </nav>
</div>

<div>
<ul class="squircles">
  <li class="squircle">
    <div class="pop">
      <h6 class="poptext">Perfil</h6>
    </div>
  </li>
  <li class="divider">
    <div class="pop">
      <h6 class="poptext">Grupo</h6>
    </div>
  </li>
  <li class="squircle">
    <div class="pop">
      <h6 class="poptext">Grupo</h6>
    </div>
  </li>
  <li class="squircle">
    <div class="pop">
      <h6 class="poptext">Grupo</h6>
    </div>
  </li>
  <li class="squircle">
    <div class="pop">
      <h6 class="poptext">Agregar Grupo</h6>
    </div>
  </li>
  <li class="squircle">
    <div class="pop">
      <h6 class="poptext">Explora Grupos Públicos </h6>
    </div>
  </li>
</ul>
</div>




  


















