<link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet" />
<div class="row">
    <div class="Titulo col l9 push-l2">
    <h1>Sobre Nosotros</h1>
    </div>
    <div class="carousel col l6  push-l3">
        <a class="carousel-item col l12" ><img src="../../../assets/Resources/Kendrick-Lamar-Baby-Keem.jpg"></a>
        <a class="carousel-item col l12" ><img src="../../../assets/Resources/tyler.png"></a>
        <a class="carousel-item col l12" ><img src="../../../assets/Resources/kendrick.png"></a>
      </div>
    

  
    <div class="text col l10 push-l3  ">
        <div class="queesleggiamo col l12  ">
            <h4>¿Qué es Leggiamo?</h4>
            <p class="queesleggiamo-texto col l5 ">Leggiamo es una aplicación web que ayuda a
                organizar y gestionar grupos de
                lectura públicos o privados y permite descubrir nuevos libros. </p>
        </div>
        <div class="whatodo col l5 ">
            <h4>¿Qué puedes hacer en Leggiamo</h4>
            <p> Crear, administrar y unirse a distintos grupos de lectura.</p>
            <p>Invitar a personas por medio de un link o redes sociales.</p>
            <p>Descubrir grupos públicos dentro de la app.</p>
            <p>Establecer un tiempo determinado de lectura para cada material </p>
            <p>Ofrece un espacio donde los usuarios pueden compartir susopiniones acerca de lo que leyeron</p>
        </div>
        <div class="objetivo col l12  ">
            <h4>¿Cual es nuestro Objetivo?</h4>
            <p class="objetivo-texto col l5 ">Nuestro objetivo es el de fomentar el hábito de la lectura en
                una comunidad joven la cual utiliza el Internet como medio de
                comunicación y descubrimiento, y hacer de la lectura una
                actividad social y divertida. <br> <br>
                 Creemosque este tipo de aplicaciones, además de ser
                utilizados por aficionados de la lectura, pueden ser una
                herramienta de gran ayuda para los educadores y alumnos. <br><br>
                Esperamos que nuestros usuarios se sientan
                parte de una comunidad de lectura. Y que
                puedan aprovechar estos recursos para
                hacer amigos y obtener un mejor
                conocimiento del mundo que los rodea por
                medio de la lectura. </p>
               
        </div>
    </div>

</div>

            <!-- <img src="../../../assets/Resources/Kendrick-Lamar-Baby-Keem.jpg">
            <img src="../../../assets/Resources/tyler.png">
            <img src="../../../assets/Resources/kendrick.png"> -->