

<body>
 
    <!-- banner -->
    <div class="banner">
      
        <div class="banner___contents ">
            <h1 class="bannner___tittle">Yellowface</h1>
            <div class="banner___buttons">
                <button class="banner___button">Leer</button>
                <button class="banner___button">Mi Lista</button>
            </div>
            <div class="banner___description">
                Con su voz en primera persona totalmente inmersiva, Yellowface 
                aborda cuestiones de diversidad, racismo y apropiación cultural 
                no solo en la industria editorial, sino también en el 
                persistente borrado de las voces y la historia 
                asiático-estadounidense por parte de la sociedad blanca 
                occidental. La novela de R. F. Kuang es oportuna, nítida y 
                eminentemente legible.
            </div>
        </div>
        <div class="banner___fadeBottom"></div>
    </div>
    
    
    <!-- Siga Leyendo -->
    <div class="row">
        <h4>Siga Leyendo</h4>
        <div class="row___covers">
            <img src="../../../assets/Covers/hp2.jpg" alt="" class="row___cover">
            <img src="../../../assets/Covers/hoo1.jpg" alt="" class="row___cover">
            <img src="../../../assets/Covers/tsats.jpeg" alt="" class="row___cover">
        </div>
    </div>
    
    <!--Leelo Otra Vez -->
    <div class="row">
        <h4>Leelo Otra Vez</h4>
        <div class="row___covers">
            <a href="Libro-PJTLT" >
                <img src="../../../assets/Covers/pjato1.jpg" class="row___cover" >
            </a>
            <a href="Libro-PJTSOM" >
                <img src="../../../assets/Covers/pjato2.jpg" class="row___cover" >
            </a>
            <a href="Libro-PJTTC" >
                <img src="../../../assets/Covers/pjato3.jpg" class="row___cover" >
            </a>
            <a href="Libro-PJTBOTL" >
                <img src="../../../assets/Covers/pjato4.jpg" class="row___cover" >
            </a>
            <a href="Libro-PJTLO" >
                <img src="../../../assets/Covers/pjato5.jpg" class="row___cover" >
            </a>
            <a href="#" >
                <img src="../../../assets/Covers/hp1.jpg" class="row___cover" >
            </a>
            <a href="#" >
                <img src="../../../assets/Covers/hp2.jpg" class="row___cover" >
            </a>
            <a href="#" >
                <img src="../../../assets/Covers/hoo1.jpg" class="row___cover" >
            </a>
            <a href="#" >
                <img src="../../../assets/Covers/hoo2.jpg" class="row___cover" >
            </a>
            <a href="#" >
                <img src="../../../assets/Covers/hoo3.jpg" class="row___cover" >
            </a>
        </div>
    </div>

    <!--Porque Leiste Percy Jackson y los Dioses del Olimpo -->
    <div class="row">
        <h4>Porque Leiste Percy Jackson y los Dioses del Olimpo</h4>
        <div class="row___covers">
            <img src="../../../assets/Covers/hoo1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/hoo2.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/hoo3.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/hoo4.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/hoo5.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/toa1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/toa2.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/toa3.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/toa4.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/toa5.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/mc1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/mc2.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/mc3.jpg" alt="" class="row___cover ">
        </div>
    </div>

    <!--Los Mejores Valorados 2022-->
    <div class="row">
        <h4>Los Mejores Valorados</h4>
        <div class="row___covers">
            <img src="../../../assets/Covers/top1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top2.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top3.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top4.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top5.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top6.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top7.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top8.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top9.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/top10.jpg" alt="" class="row___cover ">
        </div>
    </div>

    <!--Los Mejores de Terror de Todos los Tiempos-->
    <div class="row">
        <h4>Los Mejores de Terror de Todos los Tiempos</h4>
        <div class="row___covers">
            <img src="../../../assets/Covers/Horror1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror2.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror3.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror4.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror5.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror6.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror7.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror8.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror9.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/Horror10.jpg" alt="" class="row___cover ">
     </div>
    </div>

    <!--Los Mejores de Ciencia Ficcion de Todos los Tiempos-->
    <div class="row">
        <h4>Los Mejores de Ciencia Ficcion de Todos los Tiempos</h4>
        <div class="row___covers">
            <img src="../../../assets/Covers/sifi1.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi2.jpg" alt="" class="row___cover">
            <img src="../../../assets/Covers/sifi3.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi4.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi5.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi6.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi7.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi8.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi9.jpg" alt="" class="row___cover ">
            <img src="../../../assets/Covers/sifi10.jpg" alt="" class="row___cover ">
        </div>
    </div>


</body>

