<link href="https://fonts.googleapis.com/css?family=Bellota&display=swap" rel="stylesheet" />

<div class="row">
    <div class="columna-izq col l3 push-l1  ">
        <div class="Sticky " style="position:sticky; top: 100px;">
            <div class="Cover col l6 push-l3  ">
                <img src="../../../assets/Covers/pjato5.jpg" id="cover">
            </div>
            <div>
                <a class="btn col l5 push-l2 " id="botones">
                    Agregar a la Lista</a>
            </div>
            <div>
                <a class="btn col l5 push-l2 " id="botones">
                    Comprar</a>
            </div>
            <div class="rate ">
                <input type="radio" id="star5" name="rate" value="5" />
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
              </div>
        </div>
 
    </div>

    <div class="columna-der col l6 push-l1   ">
        <div class="info-Libro col l12   ">
            <div class="Titulo-Libro col l10  ">
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <h3 class="titulop1 col l7" > {{libro.bundle}}</h3>
                        <h1 class="titulop2 col l9">{{libro.name}}</h1>
                        </ng-container>
                </ng-container>
            </div>

            
            <div class="descripcion-texto col l10 ">
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="formato-texto">
                            {{libro.descripcion}}
                            </p>
                        </ng-container>
                </ng-container>
            </div>

      
            <div class="info-adicional col l10   ">
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="generos">
                            Generos: {{libro.genres}}
                        </p>
                    </ng-container>
                </ng-container>
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="paginas">
                            {{libro.paginas}}
                        </p>
                        </ng-container>
                </ng-container>
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="fecha">
                            {{libro.fecha}}
                        </p>
                        </ng-container>
                </ng-container>
               
            </div>

            <div class="relatedTo col l10">
                <h3 class="related-cover">Libros Relacionados</h3>
                <div class="related1 col l3 ">
                    <a href="Libro-PJTSOM"><img src="../../../assets/Covers/pjato2.jpg" class="related"></a>
                </div>
                <div class="related2 col l3 ">
                    <a href="Libro-PJTTC"><img src="../../../assets/Covers/pjato3.jpg" class="related"></a>
                </div>
                <div class="related3 col l3 ">
                    <a href="Libro-PJTBOTL"><img src="../../../assets/Covers/pjato4.jpg" class="related"></a>
                </div>
            </div>

            <div class="info-autor col l10 ">
                <h3 class="sobreautor">Sobre el Autor</h3>
                <div class="foto-autor col l2 ">
                    <img src="../../../assets/Resources/dios.jpg" id="ppautor">
                </div>
               <div class="nombre-libros col l10 ">
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="nombre-autor">
                            {{libro.autor}}
                            </p>
                        </ng-container>
                </ng-container>
           
               </div>
               <div class="bio col l12 ">
                <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                    <ng-container *ngIf="i === 4">               
                        <p class="autor-descripcion">
                            {{libro.autor_descripcion}}
                            </p>
                        </ng-container>
                </ng-container>
               </div>
            </div>
            
            <div class="reseñas col l12  ">

                <h3 class="reseña">Reseñas Populares</h3>
             
                <div class="reseña_1 col l12">
                    <hr>
                    <div class="foto-reseña col l2 ">
                        <img src="../../../assets/Resources/pp.jpg" id="pp">
                        <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                            <ng-container *ngIf="i === 4">               
                                <p class="nombre-reseña">
                                    {{libro.resena1_nom}}
                                </p>
                                <p class="num-reseña">
                                    {{libro.resena1_num}} reseñas
                                </p>
                                <a class="btn col l5 push-l2 " id="botonesrese">
                                    SEGUIR</a>
                                </ng-container>
                        </ng-container>
                    </div>
                    <div class="info-reseña col l9 push-l1">
                        <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                            <ng-container *ngIf="i === 4">               
                                <p class="reseña-rating">
                                    {{libro.resena1_rating}} estrellas
                                </p>
                                <p class="reseña_descripcion ">
                                    {{libro.resena1}}
                                </p>
                                </ng-container>
                        </ng-container>
                        <div class="iconos col l12 ">
                            <div class="like col l3">  
                                <a href="#"><i class="material-icons left">thumb_up</i>Me gusta</a>
                            </div>
                            <div class="comentar col l4">
                                <a href="#"><i class="material-icons left">chat_bubble_outline</i>Comentar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="reseña_2 col l12">
                    <hr>
                    <div class="foto-reseña col l2 ">
                        <img src="../../../assets/Resources/dios.jpg" id="pp">
                        <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                            <ng-container *ngIf="i === 4">               
                                <p class="nombre-reseña">
                                    {{libro.resena2_nom}}
                                </p>
                                <p class="num-reseña">
                                    {{libro.resena2_num}} reseñas
                                </p>
                                <a class="btn col l5 push-l2 " id="botonesrese">
                                    SEGUIR</a>
                                </ng-container>
                        </ng-container>
                    </div>
                   <div class="info-reseña col l9 push-l1 ">
                    <ng-container *ngFor="let libro of libroService.libros; let i = index;">
                        <ng-container *ngIf="i === 4">               
                            <p class="reseña-rating">
                                {{libro.resena2_rating}} estrellas
                            </p>
                            <p class="reseña_descripcion ">
                                {{libro.resena2}}
                            </p>
                            </ng-container>
                    </ng-container>
                        <div class="iconos col l12  ">
                            <div class="like col l3">  
                                <a href="#"><i class="material-icons left">thumb_up</i>Me gusta</a>
                            </div>
                            <div class="comentar col l4">
                                <a href="#"><i class="material-icons left">chat_bubble_outline</i>Comentar</a>
                            </div>
                        </div>
                   </div>
                </div>
    
    
           

            

            </div>

            
          
        </div>
    </div>

</div>

